@-ms-viewport {
  width: device-width; }

html, body {
  margin: 0;
  height: 100%; }

#main-content {
  height: 100%; }

.viewer {
  height: 100%; }
  .viewer iframe {
    height: 100%;
    width: 100%; }

.txtSearch {
  width: 100% !important;
  margin-top: 8px !important;
  padding: 20px 10px !important; }

