@{
    Layout = "";
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Mobile YouTube Viewer</title>
    <link href="/Stylesheets/Main.css" rel="stylesheet" />
    <script data-main="/Scripts/Startup.js" src="/Scripts/Vendor/require.js"></script>
</head>
<body>
    <div id="main-content"></div>
</body>
</html>
