<form>
    <h1>Create a new screen</h1>
    <p>
        Enter details to create a new screen which you will be able to control from your phone, tablet or computer.
    </p>
    <div class="control-group">
        <label>
            Screen name:
        </label>
        <input type="text" name="txtScreenName" placeholder="Enter screen name" />
    </div>
    <div class="form-actions">
        <a href="#" class="back">Go back</a>
        <input type="submit" value="Create" class="btn" />
    </div>
</form>
